.button{
  background-color:deepskyblue;
  color:brown;
  padding: 15px 30px;
  font-size: 20px;
  font-family: sans-serif;
  font-style: oblique;
  border-radius: 20px;
  margin-right: 5px;
  border: none;
  text-align: center;
  cursor:pointer;
 }
 body {
  background-color: lightblue;
}
h1{
  color:brown;
  font-family:cursive;
  font-style: oblique;
 
 }